<div class="page-header" style="background: url(assets/landing-background.png) 50% / cover no-repeat">
  <div class="page-title">Frequently Asked Questions (FAQs)</div>
</div>

<div class="faq-section">
  <div class="section-header">
    <div class="section-title">Lorem ipsum</div>
  </div>
  <div class="content">
    <markdown [src]="'assets/faq1.md'"></markdown>
  </div>
</div>

<div class="faq-section">
  <div class="section-header">
    <div class="section-title">Lorem ipsum</div>
  </div>
  <div class="content">
    <markdown [src]="'assets/faq2.md'"></markdown>
  </div>
</div>
