<div class="controls">
  <mat-button-toggle-group class="toggle" name="show-occupations-toggle" (change)="selectionChange($event)">
    <mat-button-toggle value="0" checked="true">
      <mat-icon class="checkmark" *ngIf="selection === '0'">check</mat-icon>
      Importance
    </mat-button-toggle>
    <mat-button-toggle value="1">
      <mat-icon class="checkmark" *ngIf="selection === '1'">check</mat-icon>
      Frequency of Task
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div class="sub-section" *ngIf="selection === '0'">
    <div class="sub-section-title">Task List by Importance</div>
    <div class="sub-section-content">This list is ranked by how important the task is to this occupation.</div>
  </div>

  <div class="sub-section" *ngIf="selection === '1'">
    <div class="sub-section-title">Task List by Frequency</div>
    <div class="sub-section-content">
      This list is ranked by how frequently the task is performed in this occupation.
    </div>
  </div>

  <div class="legend">
    <div class="label">Legend</div>
    <div class="legend-group importance" *ngIf="selection === '0'">
      <div class="legend-item high">>4.0</div>
      <div class="legend-item med">3.5 - 4.0</div>
      <div class="legend-item low">3.0 - 3.5</div>
      <div class="legend-item lowest"><3.0</div>
    </div>
    <div class="legend-group frequency" *ngIf="selection === '1'">
      <div class="legend-item high">100% - 76%</div>
      <div class="legend-item med">75% - 51%</div>
      <div class="legend-item low">50% - 26%</div>
      <div class="legend-item lowest">25% - 0%</div>
    </div>
  </div>

  <div class="list-controls">
    <div class="list-count">Viewing {{ tasksShown.length }} of {{ tasks.length }}</div>
    <div class="view-toggle" (click)="showAllButtonClick.emit()">{{ showAll ? 'View less' : 'View all' }}</div>
  </div>
</div>
<div class="task-list importance" *ngIf="selection === '0'">
  <div class="task-item" *ngFor="let task of tasksShown">
    <div class="value {{ importanceCategory(task.importance) }}">{{ task.importance.toFixed(1) }}</div>
    <div class="name">{{ task.task }}</div>
  </div>
</div>
<div class="task-list frequency" *ngIf="selection === '1'">
  <div class="task-item" *ngFor="let task of tasksShown">
    <div class="value {{ frequencyCategory(task.relevance) }}">{{ roundFrequency(task.relevance) }}%</div>
    <div class="name">{{ task.task }}</div>
  </div>
</div>
