:host {
  .search-box,
  .occupations-toggle {
    width: 22.25rem;
  }

  .preparedness-toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .search-box,
  .occupations-toggle,
  .preparedness-toggle {
    font-weight: 500;
    font-size: 0.875rem;
    color: #22005d;
  }

  .occupations-toggle,
  .preparedness-toggle {
    mat-button-toggle {
      border-right: 1px solid #7a757f;
      border-top: 1px solid #7a757f;
      border-bottom: 1px solid #7a757f;

      ::ng-deep .mat-button-toggle-label-content {
        padding: 0;
      }

      .checkmark {
        height: 1.125rem;
        width: 1.125rem;
        line-height: 1.125rem;
        padding-right: 0.5rem;
      }
    }

    .mat-button-toggle-checked {
      background: #e8def8;
    }

    .mat-button-toggle:first-of-type {
      border-left: 1px solid #7a757f;
      border-radius: 6.25rem 0 0 6.25rem;

      ::ng-deep .mat-ripple {
        border-radius: 6.25rem 0 0 6.25rem;
      }
    }
    .mat-button-toggle:last-of-type {
      border-radius: 0 6.25rem 6.25rem 0;

      ::ng-deep .mat-ripple {
        border-radius: 0 6.25rem 6.25rem 0;
      }
    }
  }

  .occupations-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    mat-button-toggle {
      width: 112.5px;
    }
  }

  .preparedness-toggle {
    mat-button-toggle {
      width: 4rem;
    }
  }

  .filters-button {
    display: none;
  }

  mat-form-field {
    padding-top: 0.5rem;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    background: #ece6f0;
    border-radius: 1.75rem;
  }

  ::ng-deep .mat-mdc-form-field-infix {
    display: inline-flex;
  }

  ::ng-deep .mdc-line-ripple {
    display: none;
  }

  ::ng-deep .mat-button-toggle-group {
    border: none;
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
