<div class="row">
  <div class="search-box">
    Find in list
    <mat-form-field class="form" appearance="fill" subscriptSizing="dynamic">
      <input class="search-input" matInput (input)="inputChange($event)" placeholder="Job title, keywords" />
      <mat-icon class="material-icons">search</mat-icon>
    </mat-form-field>
  </div>
  <button class="preparedness-button" mat-stroked-button color="primary">
    <div class="label">
      <img class="info-icon" src="assets/icons/info.png" />
      <div>Preparedness Levels</div>
    </div>
  </button>
</div>
<div class="row">
  <!-- disabled until we figure out what to do with this -->
  <div class="occupations-toggle disabled">
    Show Occupations
    <mat-button-toggle-group
      name="show-occupations-toggle"
      aria-label="Show Occupations"
      (change)="filtersChange('showOccupations', $event)"
    >
      <mat-button-toggle value="0" checked="true">
        <mat-icon class="checkmark" *ngIf="filters['showOccupations'] === '0'">check</mat-icon>
        All
      </mat-button-toggle>
      <mat-button-toggle value="1">
        <mat-icon class="checkmark" *ngIf="filters['showOccupations'] === '1'">check</mat-icon>
        Data-level
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="preparedness-toggle">
    Preparedness Level
    <mat-button-toggle-group
      name="preparedness-toggle"
      aria-label="Preparedness Level"
      (change)="filtersChange('preparednessLevel', $event)"
    >
      <mat-button-toggle
        *ngFor="let item of ['0', '1', '2', '3', '4', '5']"
        value="{{ item }}"
        checked="{{ item === '0' }}"
      >
        <mat-icon class="checkmark" *ngIf="filters['preparednessLevel'] === item">check</mat-icon>
        {{ item === '0' ? 'All' : item }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
