:host {
  @media (width <= 1168px) {
    .row1 {
      .search-box {
        width: 100%;
      }

      .preparedness-button {
        display: none;
      }
    }

    .row2 {
      display: none !important;
    }

    .preparedness-button-mobile {
      display: unset !important;
    }

    .filters-button {
      display: unset !important;
    }
  }

  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1.5rem 0 1rem 0;

  .row1,
  .row2,
  .row3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search-box {
    display: flex;
    flex-direction: column;
  }

  .search-box,
  .occupations-toggle {
    width: 22.25rem;
  }

  .preparedness-toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .preparedness-button,
  .preparedness-button-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 2.5rem;
    border: 1px solid #7a757f;
    border-radius: 6.25rem;

    .label {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #6750a4;
      padding: 0.625rem 1.5rem 0.625rem 1rem;
      letter-spacing: normal;

      .info-icon {
        height: 1.125rem;
      }
    }
  }

  .mobile-search-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  .preparedness-button-mobile {
    display: none;
    width: fit-content;
  }

  .search-box,
  .occupations-toggle,
  .preparedness-toggle {
    font-weight: 500;
    font-size: 0.875rem;
    color: #22005d;
  }

  .occupations-toggle,
  .preparedness-toggle {
    mat-button-toggle {
      border-right: 1px solid #7a757f;
      border-top: 1px solid #7a757f;
      border-bottom: 1px solid #7a757f;

      ::ng-deep .mat-button-toggle-label-content {
        padding: 0;
      }

      .checkmark {
        height: 1.125rem;
        width: 1.125rem;
        line-height: 1.125rem;
        padding-right: 0.5rem;
      }
    }

    .mat-button-toggle-checked {
      background: #e8def8;
    }

    .mat-button-toggle:first-of-type {
      border-left: 1px solid #7a757f;
      border-radius: 6.25rem 0 0 6.25rem;

      ::ng-deep .mat-ripple {
        border-radius: 6.25rem 0 0 6.25rem;
      }
    }
    .mat-button-toggle:last-of-type {
      border-radius: 0 6.25rem 6.25rem 0;

      ::ng-deep .mat-ripple {
        border-radius: 0 6.25rem 6.25rem 0;
      }
    }
  }

  .occupations-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    mat-button-toggle {
      width: 112.5px;
    }
  }

  .preparedness-toggle {
    mat-button-toggle {
      width: 4rem;
    }
  }

  .filters-button {
    display: none;
    cursor: pointer;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    background: #ece6f0;
    border-radius: 1.75rem;
  }

  ::ng-deep .mat-mdc-form-field-infix {
    display: inline-flex;
  }

  ::ng-deep .mdc-line-ripple {
    display: none;
  }

  ::ng-deep .mat-button-toggle-group {
    border: none;
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .counter {
    font-weight: 500;
    font-size: 0.875rem;
    color: #22005d;
    padding: 0.5rem 0;
    line-height: 1.25rem;
  }

  .menu,
  .sort-button {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: normal;
  }

  .menu {
    color: #22005d;
  }

  .sort-button {
    color: #6750a4;
    padding: 0;
  }
}

::ng-deep .sort-menu {
  background: #f2ecf1;
  border-radius: 0.25rem !important;

  .menu-item {
    &.selected {
      background: #e6e1e6;
    }

    span {
      color: #1c1b1e !important;
      font-size: 0.875rem !important;
    }
  }
}
