<div class="mobile-search-filters">
  <div>Find in list</div>
  <div class="filters-button" (click)="openDialog()" mat-stroked-button color="primary">Filters</div>
</div>
<div class="row1">
  <div class="search-box">
    <mat-form-field class="form" appearance="fill" subscriptSizing="dynamic">
      <input class="search-input" matInput (input)="inputChange($event)" placeholder="Job title, keywords" />
      <mat-icon class="material-icons">search</mat-icon>
    </mat-form-field>
  </div>
  <button class="preparedness-button" mat-stroked-button color="primary" (click)="openPreparednessDialog()">
    <div class="label">
      <mat-icon fontSet="material-icons-outlined" class="info-icon">info</mat-icon>
      <div>Preparedness Levels</div>
    </div>
  </button>
</div>
<div class="row2">
  <!-- disabled until we figure out what to do with this -->
  <div class="occupations-toggle disabled">
    Show Occupations
    <mat-button-toggle-group
      name="show-occupations-toggle"
      aria-label="Show Occupations"
      (change)="filtersChange('showOccupations', $event)"
    >
      <mat-button-toggle value="0" checked="{{ filters['showOccupations'] === '0' }}">
        <mat-icon class="checkmark" *ngIf="filters['showOccupations'] === '0'">check</mat-icon>
        All
      </mat-button-toggle>
      <mat-button-toggle value="1" checked="{{ filters['showOccupations'] === '1' }}">
        <mat-icon class="checkmark" *ngIf="filters['showOccupations'] === '1'">check</mat-icon>
        Data-level
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="preparedness-toggle">
    Preparedness Level
    <mat-button-toggle-group
      name="preparedness-toggle"
      aria-label="Preparedness Level"
      (change)="filtersChange('preparednessLevel', $event)"
    >
      <mat-button-toggle
        *ngFor="let item of ['0', '1', '2', '3', '4', '5']"
        value="{{ item }}"
        checked="{{ filters['preparednessLevel'] === item }}"
      >
        <mat-icon class="checkmark" *ngIf="filters['preparednessLevel'] === item">check</mat-icon>
        {{ item === '0' ? 'All' : item }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<div class="row3">
  <div class="counter">{{ numJobs }} occupations</div>
  <div class="menu">
    Sort by
    <button class="sort-button" mat-button [matMenuTriggerFor]="menu">{{ sortBy }}</button>
    <mat-menu #menu="matMenu" class="sort-menu">
      <button
        class="menu-item"
        [class.selected]="item === sortBy"
        mat-menu-item
        *ngFor="let item of menuListItems"
        (click)="clickMenuItem(item)"
      >
        {{ item }}
      </button>
    </mat-menu>
  </div>
</div>

<button class="preparedness-button-mobile" mat-stroked-button color="primary" (click)="openPreparednessDialog()">
  <div class="label">
    <mat-icon fontSet="material-icons-outlined" class="info-icon">info</mat-icon>
    <div>Preparedness Levels</div>
  </div>
</button>
