<mat-form-field class="form" appearance="fill" subscriptSizing="dynamic">
  <input
    class="search-input"
    matInput
    placeholder="{{ placeholder }}"
    [matAutocomplete]="auto"
    [formControl]="control"
    [matAutocompleteDisabled]="autoCompleteDisabled"
  />

  <mat-autocomplete
    #auto="matAutocomplete"
    class="job-search-options"
    [displayWith]="displayJobName"
    (optionSelected)="loadProfile($event.option.value)"
  >
    <mat-option *ngFor="let job of filteredJobs | async" [value]="job">
      <mat-icon class="material-icons">search</mat-icon>
      {{ job }}
    </mat-option>
  </mat-autocomplete>

  <mat-icon class="material-icons">search</mat-icon>
</mat-form-field>

<button class="search-occupation-button" routerLink="/occupations" mat-stroked-button color="primary">
  See all occupations
</button>
