:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background: #ffffff;

  .form {
    width: 100%;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    background: #ece6f0;
    border-radius: 1.75rem;
    height: 3.5rem;
  }

  ::ng-deep .mat-mdc-form-field-infix {
    display: inline-flex;
  }

  ::ng-deep .mdc-line-ripple {
    display: none;
  }

  .search-occupation-button {
    border-radius: 1rem;
    border-color: rgba(122, 117, 127, 1);
    color: #6750a4;
  }
}

::ng-deep .job-search-options {
  top: 1rem;
  position: absolute !important;
  border-radius: 1rem !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15) !important;
}
