<div class="job-list-header">
  <div class="header-labels">
    <div class="column-1">Job Title</div>
    <div class="column-2-3">
      <div class="column-2">Preparation Level</div>
      <div class="column-3">Code</div>
    </div>
    <div class="filler"></div>
  </div>
</div>

<div
  class="job-list"
  infinite-scroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScrollDown()"
>
  <trust-ai-career-card
    *ngFor="let job of jobsToDisplay"
    [jobInfo]="job"
    (jobClicked)="jobClicked.emit($event)"
  ></trust-ai-career-card>
</div>
