<div class="explore-section">
  <div class="explore-title">Discover your government career path with data-driven insights</div>
  <div class="search-box">[search box goes here]</div>
</div>

<div class="info-section">
  <div class="info-header">
    <div class="info-title">About Career Explorer</div>
    <div class="divider"></div>
  </div>
  <div class="info-list">
    <div class="info-item">
      <img class="info-item-icon" src="../../../assets/icons/glasses.png" />
      <div class="info-item-name">Visualize required skills</div>
      <div class="info-item-description">
        Explore government career paths with ease using our robust data visualizations.
      </div>
    </div>
    <div class="info-item">
      <img class="info-item-icon" src="../../../assets/icons/warning-circled-outline.png" />
      <div class="info-item-name">Understand automation risks</div>
      <div class="info-item-description">
        Stay ahead of the curve with our career explorer app, which helps you navigate the ever-evolving landscape of
        career path automation risks.
      </div>
    </div>
    <div class="info-item">
      <img class="info-item-icon" src="../../../assets/icons/compass.png" />
      <div class="info-item-name">Discover government careers</div>
      <div class="info-item-description">
        With our app by your side, you can feel confident in your career decisions and embark on a fulfilling and
        rewarding career journey in the public sector.
      </div>
    </div>
  </div>
</div>
