:host {
  font-family: Lexend;
  width: 100%;

  @media (width <= 1240px) {
    .info-section {
      gap: 3rem !important;
      padding: 4rem 1rem !important;

      .info-title {
        font-size: 1.5rem !important;
      }

      .info-list {
        flex-direction: column;
        gap: 3rem !important;
        align-items: center;

        .info-item {
          width: 100% !important;
        }
      }
    }
  }

  @media (600px < width < 1240px) {
    .info-section {
      padding: 4rem 0rem !important;

      .info-list {
        width: 50% !important;
      }
    }
  }

  @media (width > 600px) {
    .explore-content {
      width: 50%;
    }
  }

  @media (width <= 600px) {
    .explore-content {
      padding: 0 1rem;
    }
  }

  .explore-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7.5rem 0 3rem;

    .explore-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      .search-box {
        padding: 2rem 1.5rem;
        gap: 1.5rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
        border-radius: 1rem;
        background: white;
        width: calc(100% - 3rem);

        .search-title {
          font-style: normal;
          font-size: 1.5rem;
          line-height: 1.875rem;
          text-align: center;
        }
      }
    }

    .explore-title {
      font-size: 2rem;
      text-align: center;
      margin: 0 auto;
      color: #22005d;
    }
  }

  .info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    padding: 5rem 7rem;
    position: relative;
    background: #e9ddff;

    .info-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      .info-title {
        font-size: 2.5rem;
        text-align: center;
        color: #22005d;
      }

      .divider {
        width: 2rem;
        height: 0.5rem;
        background: #1c1b1e;
      }
    }

    .info-list {
      display: flex;
      justify-content: space-between;
      gap: 3.5rem;

      .info-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 33%;

        .info-item-name {
          font-size: 1.5rem;
          line-height: 1.875rem;
          text-align: center;
        }

        .info-item-description {
          line-height: 1.5rem;
          text-align: center;
        }
      }
    }
  }
}
