:host {
  gap: 1rem;
  display: flex;
  flex-direction: column;

  .controls {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;

    .view-toggle {
      cursor: pointer;
      color: #6750a4;
      font-size: 0.875rem;
      padding: 0 0.6rem;
    }
  }

  .technology-list {
    :first-child {
      border-top: none;
    }
  }

  .technology-skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    border-top: 0.0625rem solid #cac4d0;
    padding: 0.5rem 1.5rem 0.5rem 1rem;

    .title {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .examples {
      font-size: 0.875rem;
      color: #49454e;
      line-height: 1.25rem;
    }
  }
}
