:host {
  @media (width <= 1168px) {
    trust-ai-occupations-search-area {
      display: none;
    }
  }

  @media (width <= 480px) {
    .title,
    .content {
      width: calc(100% - 2rem) !important;
    }
  }

  @media (480px < width < 1168px) {
    .title,
    .content {
      width: calc(100% - 4rem) !important;
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.75rem;
    background: #e9ddff;
    width: 100%;
    padding-top: 4.5rem;

    .title {
      padding: 2rem 0;
      width: 80%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    width: 80%;

    trust-ai-occupations-search-area {
      width: 100%;
    }
  }

  .listing-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e9ddff;
    width: 100%;
    gap: 1rem;
    padding: 2rem 0;

    .scroll-top-button {
      border-radius: 1rem;
      border-color: rgba(122, 117, 127, 1);
      color: #6750a4;
      background: #f7f2fa;
    }
  }
}
