:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 4.5rem;
  position: relative;

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.75rem;
    background: #e9ddff;
    width: 100%;

    div {
      padding: 2rem 0;
      width: 69.25rem;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding-bottom: 2rem;

    trust-ai-occupations-search-area,
    trust-ai-search-listings {
      width: 100%;
    }
  }

  .listing-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e9ddff;
    width: 100%;
    gap: 1rem;
    padding: 2rem 0;

    .scroll-top-button {
      border-radius: 1rem;
      border-color: rgba(122, 117, 127, 1);
      color: #6750a4;
      background: #f7f2fa;
    }
  }
}
