<div class="banner">
  <div>All Occupations</div>
</div>
<div class="content">
  <trust-ai-occupations-search-area
    [filters]="currentFilters"
    (filtersChanged)="filterJobs($event)"
  ></trust-ai-occupations-search-area>
  <trust-ai-occupations-listings [allJobs]="filteredJobs"></trust-ai-occupations-listings>
</div>
<div class="listing-bottom">
  <div>End of {{ filteredJobs.length.toLocaleString() }} occupations</div>
  <button class="scroll-top-button" (click)="scrollToTop()" mat-stroked-button color="primary">Back to Top</button>
</div>
