:host {
  .partner-links,
  .cns-link,
  .section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partner-links,
  .cns-link {
    padding: 5rem 2rem;
    gap: 2.5rem;
    border-top: 1px solid #cac4cf;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .divider {
    margin-top: 1.5rem;
    width: 2rem;
    height: 0.5rem;
    background: #cfbcff;
  }

  .link-list {
    display: flex;
    align-items: center;
    gap: 6.5rem;

    img {
      filter: grayscale(1);
    }
  }
}
