<div class="partner-links">
  <div class="section-header">
    <div class="section-title">Thanks to our partners</div>
    <div class="divider"></div>
  </div>
  <div class="link-list">
    <a href="https://www.navsea.navy.mil/Home/Warfare-Centers/NSWC-Crane/">
      <img src="assets/navsea.png" />
    </a>
    <a href="https://www.onetonline.org/">
      <img src="assets/onet.png" />
    </a>
    <a href="https://luddy.indiana.edu/index.html">
      <img src="assets/luddy.png" />
    </a>
  </div>
</div>
<div class="cns-link">
  <div class="section-header">
    <div class="section-title">Learn about our research center</div>
    <div class="divider"></div>
  </div>
  <div class="link-list">
    <a href="https://cns.iu.edu/">
      <img src="assets/CNS logo.png" />
    </a>
  </div>
</div>
