<div class="search" style="background: url(assets/landing-background.png) 50% / cover no-repeat">
  <div class="search-content">
    <div class="search-title">Search Occupations</div>
    <trust-ai-search-box class="search-box" placeholder="{{ currentJobInfo['title'] }}"></trust-ai-search-box>
  </div>
</div>

<div class="profile-section description">
  <div class="section-header">
    <div class="section-title">{{ currentJobInfo['title'] }}</div>
    <div class="code">{{ currentJobInfo['soc_id'] }}</div>
  </div>
  <div class="content">
    <div class="sub-section">
      <div class="sub-section-title">Occupation Description</div>
      <div class="sub-section-content">{{ currentJobInfo['descr'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Reported job title examples</div>
      <div class="sub-section-content">{{ currentJobInfo.alt_titles?.toString() }}</div>
    </div>
  </div>
</div>

<div class="profile-section behaviors">
  <div class="section-header">
    <div class="section-title">Work Behaviors</div>
  </div>
  <div class="content">
    <div class="job-header">
      <div class="code">{{ currentJobInfo['soc_id'] }}</div>
      <div class="section-title">{{ currentJobInfo['title'] }}</div>
    </div>
    <div class="treemaps">
      <mat-tab-group (selectedTabChange)="refreshTreemaps()" fitInkBarToContent disablePagination>
        <mat-tab label="Activities">
          <div class="treemaps-title">Activities by Importance</div>
          <div class="missing-text" [class.hidden]="treemapWorkActivitiesData.length > 0">No data</div>
          <trust-ai-treemap
            [class.hidden]="treemapWorkActivitiesData.length === 0"
            #treemap1
            [activitiesData]="treemapWorkActivitiesData"
          >
          </trust-ai-treemap>
        </mat-tab>
        <mat-tab label="Skills">
          <div class="treemaps-title">Skills by Importance</div>
          <div class="missing-text" [class.hidden]="treemapSkillsData.length > 0">No data</div>
          <trust-ai-treemap [class.hidden]="treemapSkillsData.length === 0" #treemap2 [skillsData]="treemapSkillsData">
          </trust-ai-treemap>
        </mat-tab>
        <mat-tab label="Knowledge">
          <div class="treemaps-title">Knowledge by Importance</div>
          <div class="missing-text" [class.hidden]="treemapKnowledgeData.length > 0">No data</div>
          <trust-ai-treemap
            [class.hidden]="treemapKnowledgeData.length === 0"
            #treemap3
            [knowledgeData]="treemapKnowledgeData"
          >
          </trust-ai-treemap>
        </mat-tab>
        <mat-tab label="Abilities">
          <div class="treemaps-title">Abilities by Importance</div>
          <div class="missing-text" [class.hidden]="treemapAbilitiesData.length > 0">No data</div>
          <trust-ai-treemap
            [class.hidden]="treemapAbilitiesData.length === 0"
            #treemap4
            [abilitiesData]="treemapAbilitiesData"
          >
          </trust-ai-treemap>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<div class="profile-section preparedness">
  <div class="section-header">
    <div class="section-title">Preparedness Level</div>
  </div>
  <div class="content">
    <div class="sub-section">
      <div class="sub-section-title">
        <img
          *ngIf="currentJobInfo['job_zone']"
          class="preparation-level"
          src="{{ 'assets/icons/counter_' + currentJobInfo['job_zone'] + '.svg' }}"
        />
        {{ currentJobInfo['job_zone'] ? preparednessLevel(currentJobInfo['job_zone']) : '' }}
      </div>
      <div class="sub-section-content">
        Preparedness Levels group occupations into one of five categories based on levels of education, experience, and
        training necessary to perform the occupation.
      </div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Education</div>
      <div class="sub-section-content">{{ currentJobInfo['education'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Related Experience</div>
      <div class="sub-section-content">{{ currentJobInfo['experience'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Job Training</div>
      <div class="sub-section-content">{{ currentJobInfo['job_training'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Preparedness Examples</div>
      <div class="sub-section-content">{{ currentJobInfo['example'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Specific Vocational Preparation (SVP) Range</div>
      <div class="sub-section-content">{{ currentJobInfo['svp_desc'] }} ({{ currentJobInfo['svp_range'] }})</div>
    </div>
  </div>
</div>

<div class="profile-section tasks">
  <div class="section-header">
    <div class="section-title">Work Tasks</div>
  </div>
  <div class="content">
    <div class="job-header">
      <div class="code">{{ currentJobInfo['soc_id'] }}</div>
      <div class="section-title">{{ currentJobInfo['title'] }}</div>
    </div>
    <trust-ai-work-tasks-list
      [tasks]="workTasks"
      [showAll]="showAllTasks"
      (showAllButtonClick)="showAllWorkTasksButtonClicked()"
    ></trust-ai-work-tasks-list>
  </div>
</div>

<div class="profile-section technology">
  <div class="section-header">
    <div class="section-title">Technology Skills</div>
  </div>
  <div class="content">
    <div class="job-header">
      <div class="code">{{ currentJobInfo['soc_id'] }}</div>
      <div class="section-title">{{ currentJobInfo['title'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Technology Skills by Importance</div>
      <div class="sub-section-content" [class.no-data]="techSkills.length === 0">
        <div class="missing-text" [class.hidden]="techSkills.length > 0">No data</div>
        <trust-ai-profile-technology-skills
          [allSkills]="techSkills"
          [showAll]="showAllSkills"
          (showAllButtonClick)="showAllTechnologyButtonClicked()"
        ></trust-ai-profile-technology-skills>
      </div>
    </div>
  </div>
</div>

<div class="profile-section salary">
  <div class="section-header">
    <div class="section-title">Salary Statistics</div>
  </div>
  <div class="content">
    <div class="job-header">
      <div class="code">{{ currentJobInfo['soc_id'] }}</div>
      <div class="section-title">{{ currentJobInfo['title'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">
        <div class="title-text">Average Salary (2022)</div>
        <mat-button-toggle-group [(ngModel)]="salaryNatSelection">
          <mat-button-toggle value="annual">Annual</mat-button-toggle>
          <mat-button-toggle value="hourly">Hourly</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="sub-section-content salary-nat" [class.no-data]="isEmpty(salaryNatInfo, salaryNatSelection)">
        <div class="missing-text" [class.hidden]="!isEmpty(salaryNatInfo, salaryNatSelection)">No data</div>
        <trust-ai-profile-salary
          [class.hidden]="isEmpty(salaryNatInfo, salaryNatSelection)"
          [dataNat]="salaryNatInfo"
          [dataType]="salaryNatSelection"
          visualizationType="national"
        ></trust-ai-profile-salary>
      </div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">
        <div class="title-text">Average Wage By State (2022)</div>
        <mat-button-toggle-group [(ngModel)]="salaryStatesSelection">
          <mat-button-toggle value="annual">Annual</mat-button-toggle>
          <mat-button-toggle value="hourly">Hourly</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="sub-section-content salary-states" [class.no-data]="isEmpty(salaryStatesInfo, salaryStatesSelection)">
        <div class="missing-text" [class.hidden]="!isEmpty(salaryStatesInfo, salaryStatesSelection)">No data</div>
        <trust-ai-profile-salary
          [class.hidden]="isEmpty(salaryStatesInfo, salaryStatesSelection)"
          [dataStates]="salaryStatesInfo"
          [dataType]="salaryStatesSelection"
          visualizationType="state"
        ></trust-ai-profile-salary>
      </div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">
        <div class="title-text">Top Five Highest Earning Industries (2022)</div>
        <mat-button-toggle-group [(ngModel)]="salaryIndSelection">
          <mat-button-toggle value="annual">Annual</mat-button-toggle>
          <mat-button-toggle value="hourly">Hourly</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="sub-section-content salary-ind" [class.no-data]="isEmpty(salaryIndInfo, salaryIndSelection)">
        <div class="missing-text" [class.hidden]="!isEmpty(salaryIndInfo, salaryIndSelection)">No data</div>
        <trust-ai-profile-salary
          [class.hidden]="isEmpty(salaryIndInfo, salaryIndSelection)"
          [dataInd]="salaryIndInfo"
          [dataType]="salaryIndSelection"
          visualizationType="industry"
        ></trust-ai-profile-salary>
        <img [class.hidden]="isEmpty(salaryIndInfo, salaryIndSelection)" src="assets/legend.png" />
      </div>
    </div>
  </div>
</div>

<div class="profile-section employment">
  <div class="section-header">
    <div class="section-title">Employment Statistics</div>
  </div>
  <div class="content">
    <div class="job-header">
      <div class="code">{{ currentJobInfo['soc_id'] }}</div>
      <div class="section-title">{{ currentJobInfo['title'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Number of Occupations by State (2022)</div>
      <div class="sub-section-content" [class.no-data]="isEmpty(salaryStatesInfo, 'emp')">
        <div class="missing-text" [class.hidden]="!isEmpty(salaryStatesInfo, 'emp')">No data</div>
        <trust-ai-profile-employment
          [class.hidden]="isEmpty(salaryStatesInfo, 'emp')"
          [dataStates]="salaryStatesInfo"
        ></trust-ai-profile-employment>
      </div>
    </div>
  </div>
</div>

<div class="profile-section projection">
  <div class="section-header">
    <div class="section-title">Occupation Projection</div>
  </div>
  <div class="content">
    <div class="job-header">
      <div class="code">{{ currentJobInfo['soc_id'] }}</div>
      <div class="section-title">{{ currentJobInfo['title'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Occupation Projection</div>
      <div class="sub-section-content projection" [class.no-data]="projectionInfo.length === 0">
        <div class="missing-text" [class.hidden]="projectionInfo.length > 0">No data</div>
        <trust-ai-profile-occupation-projection
          [dataProjections]="projectionInfo"
        ></trust-ai-profile-occupation-projection>
      </div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Bright Outlook Projection</div>
      <div class="sub-section-content">
        {{ outlookDescription }}
      </div>
      <div class="button-group">
        <button
          class="resource-link"
          onClick="window.open('https://www.onetonline.org/find/bright?b=0')"
          mat-stroked-button
          color="primary"
        >
          Bright Outlook Projections
        </button>
      </div>
    </div>
    <div class="sub-section">
      <div
        class="sub-section-title"
        matBadge="{{ currentJobInfo['automation_risk'] }}"
        matBadgeOverlap="false"
        matBadgePosition="after"
      >
        Future of Work Projection
      </div>
      <div class="sub-section-content">
        {{ automationDescription }}
      </div>

      <div class="resources">
        <div class="resources-title">Future of Work Resources</div>
        <div class="resources-content">
          <div class="button-group">
            <button
              class="resource-link"
              onClick="window.open('https://www.oxfordmartin.ox.ac.uk/downloads/academic/future-of-employment.pdf')"
              mat-stroked-button
              color="primary"
            >
              Future of Employment Report
            </button>
            <button
              class="resource-link"
              onClick="window.open('https://www.onetcenter.org/future_of_work')"
              mat-stroked-button
              color="primary"
            >
              Future of Work: Bibliography of Papers
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-section"></div>
</div>

<div class="profile-bottom">
  <div>{{ currentJobInfo['soc_id'] }}</div>
  <div>{{ currentJobInfo['title'] }}</div>
  <button class="scroll-top-button" (click)="scrollToTop()" mat-stroked-button color="primary">Back to Top</button>
</div>
