<div class="search" style="background: url(assets/landing-background.png) 50% / cover no-repeat">
  <div class="search-content">
    <div class="search-title">Search Occupations</div>
    <trust-ai-search-box class="search-box" placeholder="{{ currentJobInfo['title'] }}"></trust-ai-search-box>
  </div>
</div>

<div class="profile-section description">
  <div class="section-header">
    <div class="section-title">{{ currentJobInfo['title'] }}</div>
    <div class="code">{{ currentJobInfo['soc_id'] }}</div>
  </div>
  <div class="content">
    <div class="sub-section">
      <div class="sub-section-title">Occupation Description</div>
      <div class="sub-section-content">{{ currentJobInfo['descr'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Reported job title examples</div>
      <div class="sub-section-content">{{ currentJobInfo.alt_titles.toString() }}</div>
    </div>
  </div>
</div>

<div class="profile-section behaviors">
  <div class="section-header">
    <div class="section-title">Work Behaviors</div>
  </div>
  <div class="content">
    <div class="job-header">
      <div class="code">{{ currentJobInfo['soc_id'] }}</div>
      <div class="section-title">{{ currentJobInfo['title'] }}</div>
    </div>
    <div class="sub-section-content">
      <mat-tab-group (selectedTabChange)="refreshVis()" fitInkBarToContent disablePagination="true">
        <mat-tab label="Activities">
          <div class="sub-section-title">Activities by Importance</div>
          <trust-ai-treemap #vis1 [activitiesData]="treemapWorkActivitiesData"></trust-ai-treemap>
        </mat-tab>
        <mat-tab label="Skills">
          <div class="sub-section-title">Skills by Importance</div>
          <trust-ai-treemap #vis2 [skillsData]="treemapSkillsData"></trust-ai-treemap>
        </mat-tab>
        <mat-tab label="Knowledge">
          <div class="sub-section-title">Knowledge by Importance</div>
          <trust-ai-treemap #vis3 [knowledgeData]="treemapKnowledgeData"></trust-ai-treemap>
        </mat-tab>
        <mat-tab label="Abilities">
          <div class="sub-section-title">Abilities by Importance</div>
          <trust-ai-treemap #vis4 [abilitiesData]="treemapAbilitiesData"></trust-ai-treemap>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<div class="profile-section preparedness">
  <div class="section-header">
    <div class="section-title">Preparedness Level</div>
  </div>
  <div class="content">
    <div class="sub-section">
      <div class="sub-section-title">
        <img
          *ngIf="currentJobInfo['job_zone']"
          class="preparation-level"
          src="{{ 'assets/icons/counter_' + currentJobInfo['job_zone'] + '.svg' }}"
        />
        {{ currentJobInfo['job_zone'] ? preparednessLevel(currentJobInfo['job_zone']) : '' }}
      </div>
      <div class="sub-section-content">
        Preparedness Levels group occupations into one of five categories based on levels of education, experience, and
        training necessary to perform the occupation.
      </div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Education</div>
      <div class="sub-section-content">{{ currentJobInfo['education'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Related Experience</div>
      <div class="sub-section-content">{{ currentJobInfo['experience'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Job Training</div>
      <div class="sub-section-content">{{ currentJobInfo['job_training'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Preparedness Examples</div>
      <div class="sub-section-content">{{ currentJobInfo['example'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Specific Vocational Preparation (SVP) Range</div>
      <div class="sub-section-content">{{ currentJobInfo['svp_range'] }}</div>
    </div>
  </div>
</div>

<div class="profile-section tasks">
  <div class="section-header">
    <div class="section-title">Work Tasks</div>
  </div>
  <div class="content">
    <div class="job-header">
      <div class="code">{{ currentJobInfo['soc_id'] }}</div>
      <div class="section-title">{{ currentJobInfo['title'] }}</div>
    </div>
    <trust-ai-work-tasks-list
      [tasks]="workTasks"
      [showAll]="showAllTasks"
      (showAllButtonClick)="showAllWorkTasksButtonClicked()"
    ></trust-ai-work-tasks-list>
  </div>
</div>

<div class="profile-section technology">
  <div class="section-header">
    <div class="section-title">Technology Skills</div>
  </div>
  <div class="content">
    <div class="job-header">
      <div class="code">{{ currentJobInfo['soc_id'] }}</div>
      <div class="section-title">{{ currentJobInfo['title'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Technology Skills by Importance</div>
      <div class="sub-section-content">
        <trust-ai-profile-technology-skills
          [allSkills]="techSkills"
          [showAll]="showAllSkills"
          (showAllButtonClick)="showAllTechnologyButtonClicked()"
        ></trust-ai-profile-technology-skills>
      </div>
    </div>
  </div>
</div>

<div class="profile-section salary">
  <div class="section-header">
    <div class="section-title">Salary Statistics</div>
  </div>
  <div class="content">
    <div class="job-header">
      <div class="code">{{ currentJobInfo['soc_id'] }}</div>
      <div class="section-title">{{ currentJobInfo['title'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Average Salary</div>
      <div class="sub-section-content salary-nat">
        <trust-ai-profile-salary [dataNat]="salaryNatInfo"></trust-ai-profile-salary>
      </div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Average Wage By State</div>
      <div class="sub-section-content salary-states">
        <trust-ai-profile-salary [dataStates]="salaryStatesInfo"></trust-ai-profile-salary>
      </div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Top Five Highest Earning Industries</div>
      <div class="sub-section-content salary-ind">
        <trust-ai-profile-salary [dataInd]="salaryIndInfo"></trust-ai-profile-salary>
      </div>
    </div>
  </div>
</div>

<div class="profile-section employment">
  <div class="section-header">
    <div class="section-title">Employment Statistics</div>
  </div>
  <div class="content">
    <div class="job-header">
      <div class="code">{{ currentJobInfo['soc_id'] }}</div>
      <div class="section-title">{{ currentJobInfo['title'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Number of Occupations by State</div>
      <div class="sub-section-content">
        <trust-ai-profile-employment [dataStates]="salaryStatesInfo"></trust-ai-profile-employment>
      </div>
    </div>
  </div>
</div>

<div class="profile-section projection">
  <div class="section-header">
    <div class="section-title">Occupation Projection</div>
  </div>
  <div class="content">
    <div class="job-header">
      <div class="code">{{ currentJobInfo['soc_id'] }}</div>
      <div class="section-title">{{ currentJobInfo['title'] }}</div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Occupation Projection</div>
      <div class="sub-section-content projection">
        <trust-ai-profile-occupation-projection
          [dataProjections]="projectionInfo"
        ></trust-ai-profile-occupation-projection>
      </div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Near Term Outlook</div>
      <div class="sub-section-content">
        {{
          currentJobInfo['near_future']
            ? currentJobInfo['near_future']
            : outlookDescription[currentJobInfo['bright_futures']]
        }}
      </div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">
        Automation Risk
        <div class="risk-tag">
          {{ currentJobInfo['automation_risk'] }}
        </div>
      </div>
      <div class="sub-section-content">
        {{ automationDescription() }}
      </div>
    </div>
    <div class="sub-section">
      <div class="sub-section-title">Future of Work Resources</div>
      <div class="sub-section-content">
        <div class="button-group">
          <button
            class="resource-link"
            onClick="window.open('https://www.onetonline.org/find/bright?b=0')"
            mat-stroked-button
            color="primary"
          >
            Bright Outlook Projections
          </button>
          <button
            class="resource-link"
            onClick="window.open('https://www.oxfordmartin.ox.ac.uk/downloads/academic/future-of-employment.pdf')"
            mat-stroked-button
            color="primary"
          >
            Future of Employment Report
          </button>
          <button
            class="resource-link"
            onClick="window.open('https://www.onetcenter.org/future_of_work')"
            mat-stroked-button
            color="primary"
          >
            Future of Work: Bibliography of Papers
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="profile-bottom">
  <div>{{ currentJobInfo['soc_id'] }}</div>
  <div>{{ currentJobInfo['title'] }}</div>
  <button class="scroll-top-button" (click)="scrollToTop()" mat-stroked-button color="primary">Back to Top</button>
</div>
