:host {
  @media (width <= 1240px) {
    .search-content {
      padding: 6.5rem 0 0.5rem 0 !important;

      .search-title {
        display: none;
      }
    }

    .sub-section-content {
      font-size: 0.875rem !important;
      line-height: 1.25rem !important;
    }

    .button-group {
      flex-direction: column;

      .resource-link {
        min-width: 50vw;
      }
    }
  }

  @media (600px < width < 1240px) {
    .content,
    .section-title,
    .code,
    .search-content {
      width: calc(100% - 10rem) !important;
    }
  }

  @media (width <= 600px) {
    .content,
    .section-title,
    .code,
    .search-content {
      width: calc(100% - 2rem) !important;
    }

    .sub-section-title,
    .treemaps-title {
      font-size: 1rem !important;
      font-weight: 500;
      line-height: 1.5rem;
    }

    .salary-ind {
      height: 100vw !important;
    }

    .resource-link {
      width: 100% !important;
    }
  }

  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;

    .search-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 6.5rem 0 2rem 0;
      width: 50%;
      font-weight: 500;
      font-size: 0.875rem;
      color: #22005d;
    }
  }

  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content,
    .section-title,
    .code {
      width: 65%;
    }

    .section-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #e9ddff;
      padding: 1.5rem 0;
      width: 100%;
      gap: 0.5rem;

      .section-title {
        font-size: 1.5rem;
        line-height: 2rem;
      }

      .code {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      padding: 1.5rem 0;
      gap: 1rem;

      .sub-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .sub-section-title {
          font-size: 1.375rem;
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .sub-section-content {
          font-size: 1rem;
          line-height: 1.5rem;
          width: 100%;
        }
      }

      trust-ai-occupations-search-area,
      trust-ai-search-listings {
        width: 100%;
      }

      .job-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.25rem;

        div {
          color: #22005d;
          font-size: 0.875rem;
          font-weight: 500;
        }
      }
    }

    &.behaviors {
      ::ng-deep mat-tab-group {
        mat-tab-header {
          border-bottom: 1px solid #e6e0e9;
        }

        .treemaps-title {
          padding: 1.5rem 0;
          font-size: 1.375rem;
        }

        .mdc-tab__text-label {
          line-height: 1.25rem;
          letter-spacing: 0.00625rem;
        }

        .mat-mdc-tab {
          padding: 0;
          width: 25%;
          min-width: 0;

          &.mdc-tab--active {
            color: #6750a4;
          }
        }

        .mat-mdc-tab-body-content {
          height: unset;
        }

        canvas {
          height: 50vw !important;
          width: 100% !important;
        }
      }
    }

    &.preparedness {
      .content {
        :first-child .sub-section-title {
          color: #6750a4;

          img {
            height: 1.5rem;
          }
        }
      }
    }

    &.salary {
      .sub-section {
        align-items: center;

        .salary-nat {
          height: 40vw;
        }
        .salary-states {
          height: 50vw;
        }
        .salary-ind {
          height: 50vw;
        }
      }
    }

    &.projection {
      .sub-section {
        .projection {
          height: 65vw;
        }

        .button-group {
          display: flex;
          justify-content: space-between;
          gap: 1rem;
          line-height: 1rem;

          .resource-link {
            border-radius: 1rem;
            border-color: rgb(122, 117, 127);
            color: #6750a4;
            width: calc((100% - 2rem) / 3);
          }
        }
      }
    }
  }

  .profile-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e9ddff;
    width: 100%;
    gap: 1rem;
    padding: 2rem 0;

    div {
      text-align: center;
    }

    .scroll-top-button {
      border-radius: 6.25rem;
      color: #6750a4;
      background: #f7f2fa;
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
      letter-spacing: normal;
      padding: 0 1.5rem;
    }
  }
}
