:host {
  @media (width <= 1240px) {
    .search-content {
      padding: 6.5rem 0 0.5rem 0 !important;

      .search-title {
        display: none;
      }
    }

    .preparedness {
      .sub-section-content {
        font-size: 0.875rem !important;
        line-height: 1.25rem !important;
      }
    }

    .button-group {
      flex-direction: column;
    }

    .salary {
      .sub-section-title {
        .title-text {
          max-width: 50%;
        }
      }
    }

    trust-ai-treemap {
      height: 50vw !important;
    }
  }

  @media (600px < width < 1240px) {
    .content,
    .section-title,
    .code,
    .search-content {
      width: calc(100% - 10rem) !important;
    }

    .salary-states,
    .salary-nat,
    .employment-nat {
      height: 35vh !important;
    }
  }

  @media (width <= 600px) {
    .content,
    .section-title,
    .code,
    .search-content {
      width: calc(100% - 2rem) !important;
    }

    .sub-section-title,
    .treemaps-title,
    .resources-title {
      font-size: 1rem !important;
      font-weight: 500;
      line-height: 1.5rem;
    }

    .sub-section-content {
      font-size: 0.875rem !important;
      line-height: 1.25rem !important;
    }

    .visualization-description {
      font-size: 0.875rem !important;
    }

    .salary-states,
    .salary-nat,
    .employment-nat {
      height: 25vh !important;
    }

    .resource-link {
      width: 100% !important;
    }
  }

  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;

    .search-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 6.5rem 0 2rem 0;
      width: 100%;
      max-width: 40rem;
      font-weight: 500;
      font-size: 0.875rem;
      color: #22005d;
    }
  }

  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content,
    .section-title,
    .code {
      width: 80%;
      max-width: 80rem;
    }

    .section-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #e9ddff;
      padding: 1.5rem 0;
      width: 100%;
      gap: 0.5rem;

      .section-title {
        font-size: 1.5rem;
        line-height: 2rem;
      }

      .code {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }

    .visualization-description {
      font-size: 1rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      padding: 1.5rem 0;
      gap: 1.5rem;

      .sub-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .sub-section-title {
          font-size: 1.375rem;
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: space-between;
          width: fit-content;
        }

        .sub-section-content {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }

      trust-ai-occupations-search-area,
      trust-ai-search-listings {
        width: 100%;
      }

      .job-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.25rem;

        div {
          color: #22005d;
          font-size: 0.875rem;
          font-weight: 500;
        }
      }
    }

    &.behaviors {
      ::ng-deep mat-tab-group {
        mat-tab-header {
          border-bottom: 1px solid #e6e0e9;
        }

        .treemaps-title {
          padding: 1.5rem 0;
          font-size: 1.375rem;
        }

        .mdc-tab__text-label {
          line-height: 1.25rem;
          letter-spacing: 0.00625rem;
        }

        .mat-mdc-tab {
          padding: 0;
          width: 25%;
          min-width: 0;

          &.mdc-tab--active {
            color: #6750a4;
          }
        }

        .mat-mdc-tab-body,
        .mat-mdc-tab-body-content {
          overflow: visible;
          width: 100%;
        }

        trust-ai-treemap {
          height: 30vw;

          svg {
            max-width: 100%;
          }
        }
      }
    }

    &.preparedness {
      .content {
        :first-child .sub-section-title {
          color: #6750a4;

          img {
            height: 1.5rem;
          }
        }
      }
    }

    &.salary {
      .sub-section-title {
        width: 100% !important;
      }

      .salary-nat {
        height: 40vh;
      }

      .salary-states {
        height: 50vh;
      }

      .salary-ind {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        img {
          max-height: 5rem;
          max-width: 70%;
          align-self: center;
        }
      }
    }

    &.employment {
      .employment-nat {
        height: 50vh;
      }
    }

    &.projection {
      .sub-section {
        .button-group {
          display: flex;
          gap: 1rem;
          line-height: 1rem;

          .resource-link {
            border-radius: 1rem;
            border-color: rgb(122, 117, 127);
            color: #6750a4;
            width: 20.375rem;
          }
        }

        .sub-section-title {
          gap: 1rem !important;
          width: fit-content;
        }

        .mat-badge-content {
          position: relative;
          padding: 0rem 0.25rem;
          border-radius: 6.25rem;
          background: #e8def8;
          color: black;
          font-size: 0.875rem;
          font-weight: 500;
          top: unset;
          right: unset;
          width: fit-content;
        }
      }

      .resources {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .resources-title {
          font-size: 1.375rem;
        }
      }
    }
  }

  .profile-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e9ddff;
    width: 100%;
    gap: 1rem;
    padding: 2rem 0;

    div {
      text-align: center;
    }

    .scroll-top-button {
      border-radius: 6.25rem;
      color: #6750a4;
      background: #f7f2fa;
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
      letter-spacing: normal;
      padding: 0 1.5rem;
    }
  }

  mat-button-toggle-group {
    border: none;
    width: 10rem;
    font-weight: 500;
    font-size: 0.875rem;
    color: #22005d;

    mat-button-toggle:first-of-type {
      border-left: 1px solid #7a757f !important;
      border-radius: 6.25rem 0 0 6.25rem;

      ::ng-deep .mat-ripple {
        border-radius: 6.25rem 0 0 6.25rem;
      }
    }

    mat-button-toggle:last-of-type {
      border-radius: 0 6.25rem 6.25rem 0;

      ::ng-deep .mat-ripple {
        border-radius: 0 6.25rem 6.25rem 0;
      }
    }

    mat-button-toggle {
      border-right: 1px solid #7a757f;
      border-top: 1px solid #7a757f;
      border-bottom: 1px solid #7a757f;
      border-left: none !important;
      flex-grow: 1;

      ::ng-deep .mat-button-toggle-label-content {
        line-height: 1.5rem;
        padding: 0;
      }

      .checkmark {
        height: 1.125rem;
        width: 1.125rem;
        font-size: 1.125rem;
      }
    }

    .mat-button-toggle-checked {
      background: #e8def8;
    }
  }

  .hidden {
    display: none;
  }

  .no-data {
    height: fit-content !important;

    mat-tab-group {
      display: none;
    }
  }

  svg {
    overflow: visible;
    height: 100%;
    width: 100%;
  }
}

::ng-deep .vega-embed {
  width: 100%;
  height: 100%;
}

::ng-deep .vg-tooltip {
  font-size: 1rem !important;
  max-height: unset !important;
}

@media (width <= 600px) {
  ::ng-deep .vg-tooltip {
    font-size: 11px !important;
  }
}
