/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.vg-tooltip td {
  max-width: 30vw !important;
}
.vg-tooltip tr {
  font-size: 1rem;
}
.vg-tooltip .value {
  max-height: unset !important;
  height: -moz-fit-content;
  height: fit-content;
}

@media (width <= 600px) {
  .vg-tooltip {
    left: calc(50% - 100px) !important;
  }
}
.vega-embed {
  width: 100%;
  height: 100%;
}
.vega-embed .chart-wrapper canvas {
  max-width: 100%;
}
